@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    color:white;
    user-select: none;
}
body{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat';
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,110,109,1) 60%, rgba(41,54,73,1) 100%);
}
.container{
    height:550px;
    width:300px;
    position:relative;
    background-color:aquamarine;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px white,
                      5px 5px 10px black;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: blue;
    position: relative;
    top: 12%;
    left:25%;
    margin-bottom:120px;
}
.data{
    margin-left:50px;
}