@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(54, 39, 104);
}
.container{
    width:100vw;
}
.home-nav{
    display: flex;
    justify-content: space-between;
    height:10vh;
    background-color: rgb(133, 164, 192);
}
.home-nav img{
    margin-left: 20px;
    object-fit: contain;
    border-radius: 50%;
}
.list{
    width: 35%;
}
.list ul{
    display: flex;
    justify-content: space-around;
    line-height: 10vh;
    list-style: none;
}
.list ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:10px;
    border-radius:10px;
    transition: 1s;
    user-select: none;
}
.list ul li a:hover{
    background-color: white;
    transition: 1s;
    box-shadow: 2px 2px 5px black;
}
.home-content{
    height:90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content .img{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: home-img 1s linear;
}
.home-content .img img{
    height: 80%;
    width:80%;
}
.home-content .content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: home-content 1s linear;
}
.home-content .content h4{
    line-height: 8vh;
    padding-right: 10px;
    color:white;
    letter-spacing:2px;
}

@keyframes home-img {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes home-content {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}