*{
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    margin:0;
    height: 100vh;
    background-color:aqua;
    user-select: none;
}
.container{
    display:flex;
    width:90vw;
}
.slide{
    background-size: cover;
    background-repeat:no-repeat;
    background-position: cover;
    height:80vh;
    border-radius:40px;
    cursor:pointer;
    color:#fff;
    margin:5px;
    flex:0.5;
    position:relative;
    transition: flex 0.7s ease-in;
}
.slide h3{
    font-size: 16px;
    position:relative;
    top:20px;
    left:20px;
    margin:0;
    opacity:0;
}
.slide.active{
    flex:5;
}
.slide.active h3{
    transition:opacity 0.5s ease-in;
    opacity:1;
}
.header{
    color:#555;
}
  
@media (max-width:480px){
    .container{
        width:100vw;
    }

    .slide:nth-last-of-type(4),
    .slide:nth-last-of-type(5){
        display:none;
    }
    
}