.body{
    background-image: url("bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.login{
    width:300px;
    height:350px;
    background-color:#F0FFFF;
    margin-left:20%;
    margin-top:10%;
    padding:20px;
    border-radius:5px;
    color:red;
}
.loginform{
    padding-left: 50px;
    color:black;
}
p{
    color:blue;
    font-weight: bold;
}
.input{
    border: 0.5px black solid;
    width:80%;
    height:20px;
    border-radius:2px;
}
.but{
    position:relative;
    top:40px;
    width:80%;
    height:30px;
    border-radius:100px;
    background-color: rgb(0, 139, 194);
    color:white;
}
.but:hover{
    cursor:pointer;
    background-color:rgb(9, 123, 168);
}
.fp{
    text-decoration: none;
    font-size: x-small;
    margin-left:57%;
}
.fp:hover{
    color:red;
}
.registerlink{
    text-decoration: none;
    font-size: smaller;
    position:absolute;
    bottom:20%;
    left:22%;
}
.registerlink:hover{
    color:red;
}
#errorbox{
    position:relative;
    top:30px;
    left:20px;
}


.body1{
    background-image: url("bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.register{
width:300px;
height:450px;
background-color:#F0FFFF;
margin-left:20%;
margin-top:10%;
padding:20px;
border-radius:5px;
color:red;
}
.registerform{
padding-left: 50px;
color:black;
}
p{
color:blue;
font-weight: bold;
}
.input1{
border: 0.5px black solid;
width:80%;
height:20px;
border-radius:2px;
}
.but1{
position:relative;
top:40px;
width:80%;
height:30px;
border-radius:100px;
background-color: rgb(0, 139, 194);
color:white;
}
.but1:hover{
cursor:pointer;
background-color:rgb(9, 123, 168);
}
.loginlink{
text-decoration: none;
font-size: smaller;
position:absolute;
bottom:2%;
left:22%;
}
.loginlink:hover{
color:red;
}
#errorbox{
position:relative;
top:30px;
left:20px;
}
